<div *transloco="let t">
  <div class="flex space-x-4 items-center" [formGroup]="parentFormGroup">
    <label for="currency" class="w-32 font-medium text-gray-500">{{ t('setup.fields.currency') }}</label>
    <select
      id="currency"
      name="currency"
      formControlName="currency"
      required
      class="w-full border-transparent bg-transparent text-gray-500 rounded-md focus:border-teal-400 focus:ring-teal-400"
    >
      <option *ngFor="let currency of currencies; let i = index" [value]="currency.id" [selected]="false">
        {{ currency.code }} - {{ currency.name }}
      </option>
    </select>
  </div>

  <div *ngIf="submitted && parentFormGroup.controls.currency.errors" class="mt-2 text-sm text-red-500">
    <div *ngIf="parentFormGroup.controls.currency.errors.required">{{ t('setup.errors.currency.required') }}</div>
  </div>
</div>
